*.sv linguist-language=SystemVerilog
html_output/* linguist-documentation
db/* linguist-documentation
incremental_db/* linguist-documentation
output_files/* linguist-documentation
synthesis/* linguist-documentation
